<div class="timeline">
  <div class="container left">
    <div class="content">
      <h4>Ore 10:00</h4>
      <small>Partenza per motogiro direzione <b>Camigliatello Silano</b>
      </small>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h4>Ore 11:00</h4>
      <small>
        Visita del corso di Camigliatello</small>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h4>Ore 13:00</h4>
      <small>
        Pranzo in struttura con saluti e ripartenze
      </small>
    </div>
  </div>
</div> 