<div class="timeline">
  <div class="container left">
    <div class="content">
      <h4>Ore 9:30</h4>
      <small>Partenza motogiro direzione località Fossiata per visita guidata a cura dei colleghi del
        reparto Carabinieri della biodiversità, visita presso <a href="https://www.parcosila.it/it/visita-il-parco/cosa-vedere/centri-visita/1273-l-arboreto-del-parco.html">Arboreto del Parco Nazionale della Sila
        Vivaio Sbanditi</a></small>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h4>Ore 13:00</h4>
      <small>
        Rientro in struttura per il pranzo
        </small>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h4>Ore 15:30</h4>
      <small>
        Partenza per motogiro: direzione  <a href="https://www.parcosila.it/it/visita-il-parco/cosa-vedere/centri-visita/cupone.html"> Centro Visite Cupone</a> con visita guidata dai Carabinieri della biodiversità all’interno del Parco Nazionale della Sila
      </small>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h4>Ore 18:30</h4>
      <small>
        Rientro in struttura
      </small>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h4>20:00</h4>
      <small>
        Cena
      </small>
    </div>
  </div>
</div> 