<div class="timeline">
  <div class="container left">
    <div class="content">
      <h4>Ore 10:00</h4>
      <small> Partenza per motogiro direzione <b>Rifugio Botte Donato</b>, percorrendo la panoramica <b>strada delle Vette</b> </small>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h4>Ore 11:00</h4>
      <small>
        Sosta al rifugio Botte Donato, sistemazione moto per sezioni con foto di rito 
        </small>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h4>Ore 12:00</h4>
      <small>
        Arrivo a <b>Lorica</b> con pranzo presso <b>Camping Lago Arvo</b>
      </small>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h4>Ore 16:00</h4>
      <small>
        Partenza motogiro del pomeriggio direzione <b>San Giovanni in Fiore</b> per visita distaccamento Vigili del Fuoco e benedizione dei caschi
      </small>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h4>18:00</h4>
      <small>
        Partenza dal distaccamento per rientro in struttura
      </small>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h4>Ore 20:00</h4>
      <small>
        Cena di gala con animazione e premiazioni riffa
      </small>
    </div>
  </div>
</div> 